*{
  box-sizing: border-box;
}

.team-wrapper{
  text-align: center;
  width: 100%;
}

.team-card {
  max-width: 200px;
  background-color: ;
  margin: 15px;
  padding: 0 0 0 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.2s;
}

.team-card:hover{
 -webkit-box-shadow: 0px 0px 0px 4px rgba(0,30,179,0.29);
-moz-box-shadow: 0px 0px 0px 4px rgba(0,30,179,0.29);
box-shadow: 0px 0px 0px 4px rgba(0,30,179,0.29);
  border-bottom-left-radius: 3px;
  background: blue;
  color: white;
}

.team-card p {
  padding: 0 15px;
}

.team-card .img{
  background: blue;
  width: 100px;
  height: 100px;
  margin: -50px auto 0 auto;
  color: white;
  border: 5px solid white;
  border-radius: 50%;
}

.team-card .img i{
  line-height: 100px;
  font-size: 4em;
}

.flex-card{
  display: flex;
  margin-top: 100px;
}

.media{
  background-color: blue;
  color: white;
  padding: 8px 0;
  text-align: center;
  border-bottom-right-radius:       15px;
  border-bottom-left-radius: 3px;
}

.media a{
  color: white;
  padding: 18px;
  font-size: 1.5em;
}
